
.slides > img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &.active { z-index:3 }
}

@media screen and (max-width: 1024px) {
  .slides > img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.filter {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 4;
  background-color: rgba(0,0,0,.7);
}

.fullpage {
  z-index: 5;
}
