
.contact-form {
  width: 60%;
  margin-left: 20%;
  float: left;

  .form-title {
    margin-top: 0;
  }

  .form {
    .form-row { margin-bottom: 20px; }

    .input-field {
      position: relative;
      margin-top: 1rem;
    }

    input, textarea {
      padding: 0;
      background-color: rgba(0,0,0,0);
      border: none;
      border-bottom: solid white 2px;
      outline: none;
      transition: all .3s;

      &:focus, &.active {
        margin-top: $form-line-height + 5px;
      }
    }

    textarea {
      width: 100%;
      height: $form-line-height;
      resize: none;
      overflow: hidden;
    }

    label {
      color: #9E9E9E;
      position: absolute;
      cursor: text;
      transition: .2s ease-out;
      z-index: -1;

      &.active {
        color: $color-body;
        font-weight: bold;
        font-size: 18px;
      }
    }

    .btn-container {
      position: relative;
      overflow: hidden;
      height: 27px;

      .btn {
        font-size: 18px;
        color: white;
        outline: none;
        border: solid white 2px;
        background: none;
        position: absolute;
        left: -140px;
      }
    }
  }
}

@media (min-width: $bp-med2) {
  .contact-form {
    width: 45%;
    margin-left: 20%;
  }
}

@media (min-width: $bp-large) {
  .contact-form {
    width: 60%;
    margin-left: 10%;
  }
}
