
.links {
  margin-left: 40px;
  max-width: 45%;
  float: left;

  .link {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 26px;
    text-decoration: none;

    .fa { margin-right: 10px; }
  }
}
