
.projects-wrapper {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.projects {
  max-width: 100vh;
  margin: 0 auto;
  padding: 0;
  display: inline-block;

  .project {
    width: 45%;
    float: left;
    margin-bottom: 40px;
    margin-left: 3.5%;

    img {
      width: 100%;
      height: auto;
    }

    .title-container {
      width: 100%;

      .title {
        display: block;
        float: left;
      }
      .badges {
        display: block;
        float: right;
      }
    }
  }
}

.external-profile {
  margin-top: -15px;
  text-align: center;
}
