
.title.section {
  .portrait {
    margin: 0 auto 20px;
    width: 55%;

    img {
      border-radius: 50%;
    }
  }
  .title-text {
    width: 100%;

    &.top {
      font-size: 4em;
      // margin-left: 15%;
      position: relative;
      &::after {
        content: ',';
        position: absolute;
      }
    }
    &.middle {
      font-size: 6em;
      // margin-left: 10%;
      position: relative;
      &::after {
        content: ',';
        position: absolute;
      }
    }
    &.bottom {
      font-size: 8em;
      // margin-left: 20vw;
    }
  }
}

@media (max-width: $bp-small) {
  .title.section .title-text {
    &.top    { font-size: 2em; }
    &.middle { font-size: 3em; }
    &.bottom { font-size: 5em; }
  }
}

@media (min-width: $bp-small) {
  .title.section {
    .portrait {
      width: 300px;
    }
  }
}
