
@import 'variables';

@import 'normalize';
@import 'simple_grid';
@import 'bg_slides';
@import 'fullpage_section';
@import 'section_slides';
@import 'title_page';
@import 'projects';
@import 'contact_form';
@import 'links';

.placeholder {
  color: white;
  text-align: center;
}

.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  opacity: 1;
  transition: opacity 1s linear;
  z-index: 10;
}
