
@import 'normalize';

h1 {
  color: white;
}

.slides {
  position: relative;
  width: 100%;

  > img {
    position: fixed;
    top: 0;
    height: auto;
    width: 100vw;
    z-index: 1;

    &.active { z-index:3 }
  }
}

.filter {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 4;
  background-color: rgba(0,0,0,.7);
}

.fullpage {
  z-index: 5;
}
