
.slides {
  position: relative;
  width: 100%;
}

.slides > img {
  position: fixed;
  top: 0;
  height: auto;
  width: 100vw;
  z-index: 1;
}

.slides > img.active{
  z-index:3
}

.fullpage {
  z-index: 4;
}
